<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>功能</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>IAPSettings</string>
			<key>icon</key>
			<string>icon.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>IAPHunter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>FolderXSettings</string>
			<key>icon</key>
			<string>icon.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>FolderX</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>关于</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>GitHub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>github.com/Linsars/iaphunter-tweak（基于 Lizynz 的 FolderX 2.0 开发）</string>
		</dict>
	</array>
	<key>title</key>
	<string>MinisFix</string>
</dict>
</plist>
